@model IEnumerable<MyMusicApp.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by Album or Artist: @Html.TextBox("searchString") <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Album", "Index", new { sortOrder = ViewBag.AlbumSort })
        </th>

        <th>
            @Html.ActionLink("Artist", "Index", new { sortOrder = ViewBag.ArtistSort })
        </th>

        <th>
            @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSort })
        </th>

        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSort })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Artist.ConcatNames)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
